.contact-list {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.contact-list__item {
	width: 100%;
	padding: 12px;
	margin: 6px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	border: 1px solid #cccccc;
	box-shadow: -1px 1px 3px #d6d5d5;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

.delete-btn {
	padding: 2px 6px;
	border-radius: 8px;
	outline: none;
}

.delete-btn:active {
	outline: none;
	background-color: #445ef5;
	color: #ffffff;
}
