.Header {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #03059b41;
}

.Logo {
	text-decoration: none;
}

.user-menu {
	margin-right: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__user-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 6px;
}

.Nav {
	margin: 0 70px;
}

.NavLink {
	padding: 10px;
	margin: 4px;
	text-decoration: none;
	font-size: 18px;
	color: #cccccc;
}
